.project {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  text-align: center;
}
.project:last-child {
  margin-right: 0px;
}

.project p {
  font-family: 'Press Start 2P';
  color: #FFF;
}

.project-image {
  box-shadow: 6px 6px 0px #FFF;
  margin-bottom: 5px;
  background: #4C5B84;
}

@media (max-width:830px) {
  .project {
    margin-right: 20px;
  }
}

@media (max-width: 520px) {
  .project {
    margin: 0px;
  }
}