.wrapper-skill {
  display: flex;
  justify-content: space-between;
  width: 800px;
  max-width: 800px;
}

.skill {
  display: flex;
  margin: 25px 0px;
}

.skill div {
  display: flex;
  flex-direction: column;
}

.skill div h2 {
  margin-bottom: 16px;
}

.progress-bar {
  box-sizing: border-box;
  width: 250px;
  height: 32px;
  background-color: #FFF;
  border: 5px solid #000;
  display: flex;
  justify-content: center;
}


.progress-bar::before {
  content: "";
  background: #6c5ce7;
  width: 70%;
  height: 32px;
}

.skill-image {
  width: 60px;
  margin-right: 20px;
}

@media (max-width:800px ) {
  .wrapper-skill {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

}

@media (max-width: 350px) {
  .skill div h2 {
    font-size: 14px;
  }

  .skill div {
    width: 100%;
  }
  .progress-bar {
    width: 100%;
  }

  .skills-item {
    width: 100%;
  }
}